<mat-card class="event-card" appearance="outlined">
  <mat-card-header class="event-card__header">
    <mat-card-title-group>
      <mat-card-title class="event-card__header-title">
        <a [routerLink]="['/events', event.id]" routerLinkActive="active">{{ event.title }}</a>
      </mat-card-title>
      <mat-card-subtitle class="event-card__header-subtitle">
        <a [routerLink]="['/events', event.id]" routerLinkActive="active">{{ event.subtitle }}</a>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="event-card__content">
    <a [routerLink]="['/events', event.id]" routerLinkActive="active">
      <img mat-card-image class="event-card__image" [src]="event.image" [alt]="event.title" />
    </a>
    <p class="event-card__date">
      <span>{{ event.startDate | date: 'dd/MM/yyyy' }}</span>
      -
      <span>{{ event.endDate | date: 'dd/MM/yyyy' }}</span>
    </p>
    <p class="event-card__location">{{ event.place }}</p>
    @if (event.description) {
      <p [innerHTML]="event.description | safeHtml" class="event-card__description"></p>
    }
  </mat-card-content>
  <mat-card-footer class="event-card__footer">
    <button mat-flat-button type="button" class="event-card__button" [routerLink]="['/events', event.id]">Comprar</button>
  </mat-card-footer>
</mat-card>
